/* formulario.css */

body {
  background: linear-gradient(180deg, #000000 0%, #282c36 100%);
  overflow-x: hidden;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

::placeholder{
  color: white;
}
.cont-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  z-index: 1;
}

.logo-nav {
  width: 200px;
  height: 150px;
  border: 1px solid dodgerblue; 
}

.navbar h4 {
  margin-top: 5%;
}

.titulo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

h4 {
  border-bottom: 1px solid #1976d2;
  padding: 10px 0;
  text-align: center;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="submit"],
label {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="submit"] {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #1976d2;
  transform: scale(1.05);
}



/* ... (otros estilos) ... */

@media (max-width: 768px) {
  .cont-form {
    padding: 20px;
  }

  form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
  }

  h4 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="submit"],
  label {
    padding: 10px;
    font-size: 14px;
  }

  /* Ajusta los márgenes según tus preferencias */
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="submit"],
  label {
    margin-bottom: 10px;
  }

  /* ... (otros estilos específicos para dispositivos móviles) ... */
}
